/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body {
	font-family: Arial;
}
p {
	font-size: .9rem;
	}
h3 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	}
a:link {
	font-weight: bold;
	text-decoration: none;
	color: rgb(73, 39, 0);
	transition: .2s;
	}
a:visited {
	color: rgb(73, 39, 0);
	}
a:hover, a:focus, a:active {
	color: rgb(153, 27, 18);
	}
abbr {
	color: rgb(153, 27, 18);
	}

/* specific divs */
.page-wrapper {
	background-image:url("background.jpg");
	background-color: rgba(255, 255, 255, 0.3);
	background-blend-mode: lighten;
 	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate; 
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	/*animation-related stuff*/
@keyframes example {
	from {background-color: rgba(255, 255, 255, 0.3);}
	to {background-color: rgba(255, 255, 255, 0.8);}
  }
.intro {
	min-width: 470px;
	width: 100%;
	}
header h1 {
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;	
	}
header h2 {
	margin-top: 58px; 
	margin-left: 40px;
	width: 200px; 
	float: right;
	letter-spacing: 2px;
	line-height: 0.8;
	text-shadow: 5px 3px grey;
	font-family: Snell Roundhand;
	font-style: italic;
	color: rgb(141, 112, 87);
	-webkit-text-stroke: 1px black;
	}	
h2::first-letter {
	font-size: 40px;
	color: red;
	font-weight: bold;
	font-family: Brush Script MT;
}
header {
	padding-top: 10px;
	height: 10px;
}
.summary {
	clear: both; 
	margin: 10px 10px 10px 10px; 
	width: 200px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}
.preamble {
	background-color: rgba(188, 143, 143, 0.6);
	border: solid firebrick;
	display: flex;
	}
.preamble p{
	padding-right: 10px;
	padding-left: 10px;	
}	
.supporting {
	background-color: rgba(244, 164, 96, 0.6);
	text-align: center;
	font-size: 12px;
	border: dotted rosybrown;
	display: flex;
	}
.supporting p{
	padding-right: 10px;
	padding-left: 10px;
}
footer {
	background-color: brown;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	}
footer a:link, footer a:visited {
	background-color: rgba(244, 164, 96, 0.6);
	margin-right: 50px;
	}
.sidebar {
	background-color: rgba(165, 42, 42, 0.5);
	}
.sidebar .wrapper {
	background-color: rgba(165, 42, 42, 0.4);
	}
.sidebar h3.select {
	background-color: rgba(165, 42, 42, 0.4);
	}
.sidebar h3.archives {
	background-color: rgba(165, 42, 42, 0.4);
	}
.sidebar h3.resources {
	background-color: rgba(165, 42, 42, 0.4);
	}
.sidebar ul {
	color: rgba(165, 42, 42, 0.4);
	margin:5px;
	padding:15px;
	border-radius: 25px
	}
.sidebar li {
	background-color: rgba(165, 42, 42, 0.4);
	}
.sidebar li a:link {
	color: rgba(244, 164, 96, 0.6);
	}
.sidebar li a:visited {
	background-color: rgba(244, 164, 96, 0.3);
	}
.extra1 {
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}

@media only screen and (max-width: 960px) {
	header h1 {
		display: block;
		float: none;
	}
	header h2 {
		float: none;
	}
	header {
		height: auto;
	}
	
	.summary {
		display: block;
		width: auto;
	}
	.preamble {
		display: block;
	}
	.supporting {
		display: block;
		text-align: left;
	}
	.intro {
		min-width: 0px;
	}
}